:global(.vtex-rich-text-0-x-heading) {
    margin: 5px 0;
    font-size: 24px;
}

:global(.vtex-rich-text-0-x-paragraph) {
    text-align: center;
    margin: 0;
}

.link {
    text-decoration: none;
    font-size: 12px;
    color: #FFFFFF;
}

.paragraph--search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--search-icon::before {
    content: "";
    background: url('assets/icons/search-icon.svg');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.paragraph--all-categories-header-title,
.paragraph--login-container-header-title {
    position: absolute;
    top: 18px;
    left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}

.paragraph--login-container-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph--login-container-header-title::before {
    content: "";
    background: url('assets/icons/avatar-login-icon.svg');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    margin-right: 10px;
}

@media(min-width: 768px) {}

@media(min-width: 1200px) {}

@media(min-width: 1366px) {}

@media(min-width: 1920px) {}